.idea/
*.iml
dependency-reduced-pom.xml
/MagmaCube/
/Blueberry-Client/src/*
/Blueberry-Client/
/Blueberry-Client/target/
target/
/target/
/work/testClient/
/work/testServer/
/logs/
/Blueberry-Client
*.release[bB]ackup
